* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%)
}

img {
    max-width: 100%;
}

.container {
    margin: auto;
    margin-top: 150px;
    width: 350px;
    height: 525px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.qr__code {
    padding: 20px;
    border-radius: 30px;
}

.qr__code--title {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.qr__code--paragraph {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 15px;
    padding-left: 45px;
    padding-right: 45px;
}